Repository dashmug/glue-devtools: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-python, format-python, typecheck-python, import-linter, update-requirements

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: lint-python
        name: Lint Python code
        language: system
        types: [python]
        entry: ruff check
        args: [--fix, --unsafe-fixes]
      - id: format-python
        name: Format Python code
        language: system
        types: [python]
        entry: ruff format
      - id: typecheck-python
        name: Check Python type annotations
        language: system
        types: [python]
        entry: mypy
        pass_filenames: false
        require_serial: true
      - id: import-linter
        name: Check for violations of import rules
        entry: lint-imports
        language: python
        types: [python]
        pass_filenames: false
      - id: update-requirements
        name: Update requirements.container.txt
        language: system
        files: poetry.lock
        entry: poetry export --with=dev --output requirements.container.txt
        pass_filenames: false
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        name: Check shell scripts
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.27
    hooks:
      - id: actionlint-docker

docs: Update README for local setup instructions
  Makefile
  README.md
Due: none

docs: Update README for local setup instructions (#43)
  Makefile
  README.md
Due: none

chore: Integrate cdk-nag
  .pre-commit-config.yaml
  Makefile
  cdk.context.json
  infrastructure/__main__.py
  poetry.lock
  pyproject.toml
  requirements.container.txt
Due: lint-python, format-python, typecheck-python, import-linter, update-requirements

chore: Integrate cdk-nag (#44)
  .pre-commit-config.yaml
  Makefile
  cdk.context.json
  infrastructure/__main__.py
  poetry.lock
  pyproject.toml
  requirements.container.txt
Due: lint-python, format-python, typecheck-python, import-linter, update-requirements

chore: Implement tagging
  infrastructure/__main__.py
  infrastructure/constructs/__init__.py
  infrastructure/constructs/base.py
  infrastructure/stacks/sample.py
  pyproject.toml
Due: lint-python, format-python, typecheck-python, import-linter

chore: Fix some formatting
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  .vscode/settings.json
  cdk.context.json
  poetry.lock
  pyproject.toml
  requirements.container.txt
Due: update-requirements

chore: Minor improvements
  .editorconfig
  .pre-commit-config.yaml
  .vscode/settings.json
  docker-compose.yml
  infrastructure/stacks/sample.py
  poetry.lock
  pyproject.toml
Due: lint-python, format-python, typecheck-python, import-linter, update-requirements

refactor: Rearrange project structure
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  README.md
  docker/.env.sample
  docker/docker-compose.yml
  docker/jupyter-start.sh
  glueetl/__init__.py
  glueetl/sample/README.md
  glueetl/sample/__init__.py
  glueetl/sample/script.py
  glueetl/sample/tests/__init__.py
  glueetl/sample/tests/test_script.py
  infrastructure/stacks/sample.py
  jobs/tests/sample/__init__.py
  notebooks/sample/notebook.ipynb
  poetry.lock
  pyproject.toml
  requirements/requirements.container.txt
Due: lint-python, format-python, typecheck-python, import-linter, update-requirements

fix: Various small changes
  .gitattributes
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  cdk.json
  docker/docker-compose.yml
  notebooks/sample/notebook.ipynb
  poetry.lock
  pyproject.toml
  requirements/requirements.container.txt
Due: update-requirements

chore: Remove local nbstripout
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  pyproject.toml
  requirements/requirements.container.txt
Due: update-requirements

ci: Fix gh actions and pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  poetry.lock
  pyproject.toml
  requirements/requirements.container.txt
Due: update-requirements

ci: Set up cache for pre-commit
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
  requirements/requirements.container.txt
Due: update-requirements

ci: Fix dependabot error
  .github/dependabot.yml
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
Due: none

ci: Improve caching for test container
  .github/workflows/ci.yml
Due: none

chore: Speed up usage of mypy
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  cdk.json
  deploy/__init__.py
  deploy/__main__.py
  deploy/constructs/__init__.py
  deploy/constructs/base.py
  deploy/stacks/__init__.py
  deploy/stacks/sample.py
  pyproject.toml
Due: lint-python, format-python, typecheck-python, import-linter

chore: Remove prettier
  .pre-commit-config.yaml
  .prettierignore
  .vscode/settings.json
  deploy/stacks/sample.py
Due: lint-python, format-python, typecheck-python, import-linter

chore: Fix requirements and Makefile
  Makefile
  requirements/requirements.container.txt
Due: none

chore: More docker-related refactors
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  docker/Dockerfile
  docker/docker-compose.yml
  docker/requirements.txt
  poetry.lock
  pyproject.toml
Due: update-requirements

ci: More commit hook and CI updates
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  cdk.json
  cdk/__init__.py
  cdk/__main__.py
  cdk/constructs/__init__.py
  cdk/constructs/base.py
  cdk/stacks/__init__.py
  cdk/stacks/sample.py
  docker/requirements.txt
  poetry.lock
  pyproject.toml
Due: lint-python, format-python, typecheck-python, import-linter, update-requirements

chore: Update dependencies
  docker/requirements.txt
  poetry.lock
  pyproject.toml
Due: update-requirements

chore: Update dependencies
  .github/workflows/ci.yml
  docker/requirements.txt
  poetry.lock
  pyproject.toml
Due: update-requirements

chore: Small updates
  .pre-commit-config.yaml
  Makefile
  README.md
  docker/requirements.txt
  poetry.lock
Due: update-requirements

chore: Various updates
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docker/Dockerfile
  docker/docker-compose.yml
  docker/requirements.txt
  poetry.lock
  pyproject.toml
Due: update-requirements
